            @import url(https://fonts.googleapis.com/css?family=Noto+Sans+TC|Open+Sans&display=swap);
            @import url(https://fonts.googleapis.com/css?family=Roboto:300);
            .addpage {
                width: 600px;
                padding: 8% 0 0;
                margin: auto;
            }
            
            .form {
                position: relative;
                z-index: 1;
                background: #FFFFFF;
                max-width: 360px;
                margin: 0 auto 100px;
                padding: 45px;
                text-align: center;
                box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
                border-radius: 10px;
            }
            
            .form input {
                font-family: 'Noto Sans TC', sans-serif;
                outline: 0;
                background: #f2f2f2;
                width: 100%;
                border: 0;
                margin: 0 0 15px;
                padding: 15px;
                box-sizing: border-box;
                font-size: 14px;
            }
            
            .form .buttonadd {
                font-family: 'Noto Sans TC', sans-serif;
                text-transform: uppercase;
                outline: 0;
                background: #77AAAD;
                width: 100%;
                border: 0;
                padding: 15px;
                color: #FFFFFF;
                font-size: 14px;
                -webkit-transition: all 0.3 ease;
                transition: all 0.3 ease;
                cursor: pointer;
                border-radius: 10px;
            }
            
            .form button:hover,
            .form button:active,
            .form button:focus {
                background: #7F8894;
            }
            
            .form select {
                font-family: 'Noto Sans TC', sans-serif;
            }
            
            body {
                background: linear-gradient(to left, #D8E6E7, #77AAAD);
                font-family: 'Noto Sans TC', sans-serif;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }